{% assign current_language_code = page.language_code | default: site.lang | default: "en" %}
{% assign current_locale = site.data.i18n[current_language_code] %}
{% if current_locale == nil %}
  {% assign current_locale = site.data.i18n["en"] %}
{% endif %}
{% assign path_prefix = current_locale.path_prefix | default: "" %}

<footer class="footer">
  <div class="footer-inner">
    <p class="footer-brand">UWC Changshu China Survival Guide</p>
    <p class="footer-note">
      {% for line in current_locale.footer.note_lines %}
        {{ line }}{% unless forloop.last %}<br>{% endunless %}
      {% endfor %}
    </p>
    <div class="footer-links">
      <a href="https://github.com/United-World-College/UWC-Survival-Guide">GitHub</a>
      <a href="{{ path_prefix | append: '/about/' | relative_url }}">{{ current_locale.footer.about }}</a>
      <a href="{{ path_prefix | append: '/content-rights/' | relative_url }}">{{ current_locale.footer.content_rights }}</a>
    </div>
    <p class="footer-copy">{{ current_locale.footer.copy }}</p>
  </div>
</footer>
